.parent{
    -fx-background-color:transparent;
}

.pane{
    -fx-background-color: #333333;
    }

.trans-btn-white-border{
    -fx-background-color: transparent;
    -fx-background-radius:5px;
    -fx-border-color:#ecf0f1;
    -fx-border-radius:5px;
    -fx-border-width:1px;
    -fx-text-fill:#ecf0f1;
}

.white-pane{
    -fx-background-color: #FFFFFF;
}

.tf_box{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: #636e72;
}

.tf{
    -fx-background-color: transparent;

}

.pink-btn{
    -fx-background-color: #ff9c85;
    -fx-background-radius:5px;
    -fx-text-fill:#FFFFFF;
}
